.header-light{
    height:20%;
    position:relative;
    background-color: #ffffff;
    color: #000000;
}
.total{
    margin-left:10%;
    margin-right:10%;
    position:relative;
    -webkit-box-shadow: 0px 0px 5px #E3E3E3;
    box-shadow: 0px 0px 5px #E3E3E3;
    -o-box-shadow: 0px 0px 5px #E3E3E3;
    -moz-box-shadow: 0px 0px 5px #E3E3E3;
}
nav{
    height: 100%;

}
body {
    margin: 0;
    background:#a6e1ec;
    height: 100%;
    font-family: 'Cabin', sans-serif;
}
ul {
    float: left;
    display:inline-block;
    padding:0;
    margin:0;
}
ul li {
    display:inline-block;
    float: left;
    margin:0.5em;
    padding:0.5em;
}
.header-central{
    width:100%;
    height:35%;
    position:relative;
}
.menub{
    border-left-color: #000000;
    border-right-color: #000000;
}
.line {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #4272d7;
    left: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -ms-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
}
.line {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.head{
    height:60px;
}
.menub:hover{
    height:100%;
    color:#bce8f1;
    -webkit-transition: width 2s, height 4s;
    cursor:pointer;
    -webkit-box-shadow: 0px 0px 15px #337abf;
    box-shadow: 0px 0px 15px #337abf;
    -o-box-shadow: 0px 0px 15px #337abf;
    -moz-box-shadow: 0px 0px 15px #337abf;
}
.menul{
    display:inline-flex;
}
a{
    color : #ffffff;
    text-decoration:none;
}
.header-logo{
    width:100%;
    margin-top: 1%;
    margin-left:2px;
    margin-right:2px;
    margin-bottom:2px;
    height:100%;
    background-color:#337ab7;
    position:relative;
    color: #FFFFFF;
    font-size: larger;
    border-bottom-color:#000000;
}
.icone{
    margin-right:3px;
    border-color:#2e6da4;
}
.body{
    border-color: #2e6da4;
    background-color:#ffffff;margin:5px;
    padding:5px;
}
.tableLine{
    background-color:#337ab7;
}
.tableLine:hover{
    background-color:#007BCC;
}
.phasis{
    background-color:#66afe9;padding:0.2%;margin-left:0.2%;
}
.titre{
    padding:1%;

}
.bouton{
    padding:1%;
    margin-bottom:5%;
    margin-left:2%;
}
.minititle{
    margin-left:1%;

}
.groupe{
    margin:5px;
    padding-top:5px;
    padding-bottom:5px;
}