.bg-logo1 {
    width: 137px; height: 50px;
    background: url('Sprites.png') -10px -82px;
}
.bg-fav {
    width: 50px; height: 50px;
    background: url('Sprites.png') -209px -10px;
}
.bg-logo2 {
    width: 179px; height: 52px;
    background: url('Sprites.png') -10px -10px;
}
.bg-logo_mini {
    width: 46px; height: 52px;
    background: url('Sprites.png') -209px -80px;
}